<article>
  <h3>{{post.title}}</h3>
  <img *ngIf="post.media_type === 'image'" width="100%" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + post.filename"/>
  <video *ngIf="post.media_type === 'video'" width="100%" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + post.filename" [poster]="'http://media.mw.metropolia.fi/wbma/uploads/' + post.screenshot" controls></video>
  <audio *ngIf="post.media_type === 'audio'" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + post.filename" controls></audio>
  <h6>{{ (post.user_id | username) }}</h6>
  <p>
    {{ post.description }}
  </p>
  <p [hidden]="displayText === ''" >{{displayText}}</p>
  <button (click)="click()" >{{button}}</button>
</article>
